.hero_section_wrapper {
  width: 100%;
  padding: 40px 0px;
}

.herosection_inner {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 45px;
}

.vertical_line {
    width: 2px !important;
    background-color: #a19292;
    height: 100%;
  }