.news_wrapper {
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 25px;
}

.news_left_div {
  width: 30%;
  height: 100%;
}

.news_left_heading {
  font-size: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  position: relative;
  height: 50px;
}

.news_left_heading:after {
  position: absolute;
  height: 1px;
  margin: 0 auto;
  content: "";
  left: 0;
  right: 0;
  width: 90%;
  color: #333;
  background-color: #333;
  left: 0;
  top: 30px;
}

.news_left_heading2 {
  font-size: 60px;
  /* line-height: 100px; */
  font-family: "Editorial Ultrabold", sans-serif;
  transform: scale(1.2, 2.5) !important;
  position: relative;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 0px;
  margin-left: 50px;
}

.news_left_heading2:after {
  position: absolute;
  height: 0.5px;
  margin: 0 auto;
  content: "";
  left: 0;
  right: 0;
  width: 90%;
  color: #333;
  background-color: #333;
  left: -50px;
  bottom: 40px; /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
}

.news_left_img_div {
  width: 100%;
  height: 500px;
  border: 1px solid #333;
  margin: 5px 0 30px 0;
}

.news_left_img_div > img {
  width: 100%;
  height: 100%;
}

.news_left_para {
  font-size: 24px;
  line-height: normal;
  font-family: "Editorial New", sans-serif;
  transform: scale(1, 1.2);
}

.drop-cap {
  font-size: 70px; /* Adjust size for desired effect */
  line-height: 70px; /* Ensures proper alignment */
  float: left; /* Makes the letter "float" at the beginning */
  margin-right: 5px; /* Adds space between the letter and the text */
  color: #fff; /* Choose your desired color */
  background-color: #333;
  padding: 5px 5px 0 5px;
  font-family: "Editorial italic";
}

.news_right_div {
  width: 62%;
}

.news_right_img_div {
  width: 100%;
  height: 480px;
}

.news_right_img_div > img {
  width: 100%;
  height: 100%;
  border: 1px solid #333;
}

.news_right_para {
  margin-top: 30px;
  /* text-align: center; */
  font-size: 48px;
  line-height: 52px;
  color: black; /* Choose your desired color */
  text-decoration: line-through;

  font-family: "Editorial bold", sans-serif;
  transform: scale(1, 2);
  text-decoration-thickness: 1px;
  text-decoration-color: #333;
  margin-top: 130px;
}

.news_certical_line {
  width: 2px !important;
  background-color: #a19292;
  height: 850px !important;
}
