.perfect_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;    
}

.perfect_text_div {
    width: calc(100% - 350px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.perfect_transparent_text {
  font-size: 170px;
  line-height: 1; 
  font-weight: bold;
  color: black;
  font-family: 'Editorial Ultrabold', sans-serif;
  transform: scale(1, 2); 
  margin-top: 70px;
}


  .perfect_img_div {
    width: 320px;
    height: 300px;
    border: 1px solid black;
  }

  .perfect_img_div > img {
    width: 100%;
    height: 100%;
  }