.pixel_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 30px;
    margin: 20px 0;
}

.pixel_left_div {
    width: 52%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pixel_left_top_div {
    width: 100%;
    display: flex; 
    flex-direction: row;
    align-items: center;
}

.pixel_left_top_img_div {
  width: 200px;
  height: 300px;
  border: 1px solid black;
}

.pixel_left_top_img_div > img {
    width: 100%;
    height: 100%;
}

.pixel_left_top_text {
    font-size: 170px;
  line-height: 1; 
  font-weight: bold;
  color: black;
      font-family: 'Editorial Ultrabold', sans-serif;
      transform: scale(1, 2); 
      margin-top: 70px;
      
}

.pixel_left_div > p {
    /* font-size: 220px !important; */
    font-size: 170px;
    line-height: 1; 
    font-weight: bold;
    color: black;
        font-family: 'Editorial Ultrabold', sans-serif;
        transform: scale(1, 2); 
        margin-top: 120px;
        /* background-color: yellow; */
}

.pixel_right_img_div {
    width: 48%;
    height: 600px;
    border: 1px solid black;
}

.pixel_right_img_div > img {
    width: 100%;
    height: 100%;
}